astropy
numpy
geopy
flask
ephem
datetime
pytz
skyfield
matplotlib
numpy
Python-IO
pybase64
geocoder
-e git+https://github.com/Astrobyte7/starplot.git#egg=starplot
flask
gunicorn
python-csv
folium
pip
