{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <center><title>Sachin - Science Communicator and Astronomer</title></center>
    <style>
        body {
            font-family: "Times New Roman", sans-serif;
            background-color: whitef5f5;
            margin: 0;
            padding: 0;
        
        }

        h1 {
            font-size: 32px;
            margin: 0;
        
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 15px;
            padding: 10px;
        }

        .quote {
            font-style: italic;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #007BFF;
            color: #fff;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Sachin - Science Communicator and Astronomer</h1>

        <div style="text-align: center;">
            <img src="https://i.ibb.co/6JRxLnV/me.jpg" alt="Sachin's Image" class="header-img" height="330" width="250">
          </div>
    </header>

    <div class="content">

        <p>
            I'm Sachin, a passionate science communicator and astronomer deeply enthralled by the cosmic wonders that surround us. From a young age, I found myself gazing up at the night sky, captivated by the celestial wonders that unfolded above me. This innate curiosity propelled me to delve into the world of astronomy.
        </p>
        <p>
            My enthralling journey into the realm of science communication and astronomy was sparked during my time at ISRO (Indian Space Research Organisation). There, I had the privilege of participating in groundbreaking programs, an experience that ignited my fervor for sharing the enchanting realms of space and science with the world.
        </p>
        <p class="quote">
            "One of my greatest sources of inspiration is the iconic astrophysicist, Carl Sagan. His ability to make complex scientific concepts accessible to the masses has deeply influenced my approach to education and outreach."
        </p>
        <p>
            While Carl Sagan's ability to make complex scientific concepts accessible has profoundly influenced my approach to education and outreach, I also draw inspiration from ISRO's esteemed Chairman, Somanath. His visionary leadership and unwavering dedication to space exploration fuel my commitment to the cause.
        </p>
        <div style="text-align: center;">
            <img src="https://i.ibb.co/QkH45Tp/IMG-2237.jpg" alt="Sachin's Image" class="header-img" height="330" width="250">
          </div>
        <p>
            I've orchestrated over thousands captivating space exhibitions, workshops, and stargazing activities, each meticulously designed to captivate and educate curious minds of all ages. It's been an electrifying privilege to interact with over 10 lakh students, including the general public, during these programs, igniting the spark of curiosity in young minds and inspiring them to embark on cosmic journeys of their own.
        </p>
        <p>
            I love coding; it gives me the incredible power to perform complex calculations that help me unravel the mysteries of the universe. Think of it as a digital telescope that allows me to peer deeper into space, model celestial events, calculate orbits, and analyze massive datasets with ease.
        </p>
        <p>
            Astronomy holds a special place in my heart. I'm not just a teacher; I'm a celestial guide. I want to transform the night sky into digital data. By demystifying the cosmos and making it accessible to everyone, I aspire to nurture the next generation of astronomers, scientists, and fearless innovators.
        </p>

        <div style="text-align: center;">
            <img src="https://i.ibb.co/P1QBfS6/telescope.jpg" alt="Sachin's Image" class="header-img" height="330" width="250">
          </div>

        <p>
            In summation, I am Sachin, a devoted crusader on a mission to make the enchanting wonders of science, especially in the realm of astronomy and space exploration, accessible and enthralling for all. With the inspiring footprints of ISRO's Chairman Somanath, the cosmic wisdom of Carl Sagan, and a treasure trove of immersive science exhibitions, workshops, and astronomical teachings, I'm here to turn the universe into an awe-inspiring, irresistible adventure for every aspiring explorer. Join me on this cosmic odyssey, and together, we'll reach for the stars. 
        </p>
      
    </div>

</body>
</html>
{% endblock %}
