{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrobiology</title>
    <style>
        body {
            font-family: Arial, sans-serif;
    
            background-color: white;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
            color: #444;
        }
    </style>
</head>
<body>
    <p class="author-info">Authour: Sachin Chauhan</p>
    <h1> ASTROBIOLOGY</h1>
    <p>Astrobiology is the science that studies life in the universe, which can be divided into three essential parts, life on Earth, life in the solar system and life outside the solar system, that is, extraterrestrial life.</p>
    <p>Astrobiology helps us to know how life formed on Earth and how the conditions that happened here could be replicated in some other part of the universe as in other planets similar to ours.</p>
    <p>I also study whether it is possible that there can be a life completely different from ours. Still, with traits of intelligence, that is a civilization that could communicate with us.</p>
    <p>Astrobiologists seek to demonstrate that the phenomenon of life is not something exclusive to the Earth and that as long as a planet meets certain specific conditions for the formation of life such as energy, water in a liquid state, a solid surface, among other things, life can arise, evolve and form intelligent civilizations with technology like ours.</p>
    <p>Specialists in this area of research focus on really extreme conditions because we cannot yet travel to other solar systems to investigate how life occurred outside our planet or what conditions are needed for life to arise. No one knows.</p>
    <h1>DNA</h1>
    <p>Astrobiologists are specialists in physics, chemistry, astronomy, molecular biology, and many other scientific areas.</p>
    <p>They are responsible for studying and analyzing all the information we have about life here on Earth and possible places in the universe where conditions are optimal for the development of living beings.</p>
    <p>So far, it has been discovered that our DNA is made up of very complex things like proteins, organic molecules and traces of genetic material. Still, DNA is generally made of chemical elements not so difficult to find in the universe; 99% of our body comprises four simple chemical elements: carbon, hydrogen, oxygen and nitrogen.</p>
    <p>If beings are as complex as possible from 4 abundant elements in the universe, extraterrestrial DNA should also be made of these essential elements.</p>
    <p>This would mean that, if there were living beings on other planets, they would not be too different from us; on the contrary, they should be very similar.</p>
    <p>Some viruses have been discovered with a completely different composition than usual, and it has been determined to be a concept of extraterrestrial life. The biologists who made this discovery did not classify it as an alien virus.</p>
    <p>There are viruses whose molecular structure is entirely different from those already known to man, and this suggests that they are not of this world, but they are more terrestrial than you and me.</p>
    <p>The condition of such a different genetic code does not make us wonder again about the origin of life here on Earth and the possibility of life on other planets.</p>
    <p>This also gives rise to genetic manipulation for the creation of super viruses, and that we play to be Gods modifying even our genetic material to create improved humans. Still, already this goes a lot of hand in hand with ethics, supersoldiers, supermen, deadly viruses, things that seem like science fiction, but that we could see in the not too distant future.</p>
    <h1>COMPLEX LIFE</h1>
    <p>Like knowing what life is and how many ways you can understand in states, conditions, genetic material, DNA, life can be very complex. However, it is still fun to know what life could be like out there, entirely outside the stereotypes of Hollywood movies.</p>
    <p>That life out there is only a little different from ours, not only physically, in its chemical composition and genetic structure, the most abundant material in our system is carbon, but in other solar systems, the most abundant material can be any other.</p>
    <p>How about life forms based on silicon instead of carbon like the aliens imagined by the famous astronomer Carl Sagan? Silicon-based living things would live in the toxic clouds of the planet Jupiter; they would also be able to float or even live in space without the need to live on a beautiful planet like Earth.</p>
    <p>It is also possible that extraterrestrial beings live in places very close to the Earth, as in the oceans under the ice sheets on the moons of the gas giants, such as Europa, a natural satellite of Jupiter.</p>
    <p>The natural satellite Europa has a vast ocean under its layer of 2 km of ice; aquatic living things likely exist in that place, breathing oxygen from the water and feeding on the minerals exhaled by underwater volcanoes.</p>
    <p>We can imagine all kinds of life forms. However, the sad reality so far is that we have not yet found anything, zero evidence of the existence of other living beings out there in the vast universe.</p>
    <h1>PLANETS</h1>
    <p>In our solar system, we have many planets with conditions completely different from Earth, and as far as we know, there is no life.</p>
    <p>Recently, we began to investigate and know a little more about the observations of past astronomers, about Mars, yes, that red neighbor that has surprised us a lot.</p>
    <p>As well as other planets further away that intrigue us a lot, the simple fact of knowing what it is like inside, their atmosphere, what conditions they have, what rains on them, the color of their skies or the beautiful layers in their lunar twilights.</p>
    <p>What kind of living beings could arise depending on the composition of each planet is an arduous task, but without a doubt, very exciting; this is the work that these scientists give us who want to make us know how life is, or how it would be, beyond our blue planet.</p>
    <h1>MARS</h1>
    <p>At this time, specialists from NASA and different Universities analyze the possibility that Mars has been inhabited by life forms similar to us in the past; however, so far, the evidence suggests that this is not the case.</p>
    <p>There is excellent evidence that proves that Mars may have had vast oceans of water like the Earth in the past. However, it is unknown what phenomenon or planetary catastrophe could have occurred so that all that water evaporated and Mars remained as the inert cold and red rock that it is today.</p>
    <p>Would it be possible that in the future, Mars could sustain life? Questions that are studied by astrobiologists.</p>
    <p>The case of Mars can be divided into two possibilities, on the one hand, it may be that Mars already had water on its surface and was wholly infertile or that it is simply one of many planets in the vast universe that do not conceive of life and is only waiting to be terraformed by another much more intelligent species.</p>
    <p>The future on Earth is uncertain because of all the conditions that man has caused; the study of life on other planets leaves us with the door open to know what life is in reality.</p>
    <p>Because it is formed and how it is possible that there are no more vestiges of it in the cosmos, or it will be that we have already found life, but we are still too primitive to understand it.</p>
    <h1>WHICH EXOPLANETS ARE POTENTIALLY HABITABLE?</h1>
    <p>First of all, we must emphasize that there is an extensive catalogue of exoplanets studied by NASA and many others in the selection process, but mainly the exoplanets of which more have been spoken; it is because of their similar characteristics or potentially similar to our planet Earth.</p>
    <p>However, this does not mean that it is something sure, more studies would be needed to affirm that we could inhabit them, but the possibility is there.</p>
    <h2>KEPLER-1649 C</h2>
    <p>Scientists discovered this planet, Kepler-1649c, by reviewing ancient Kepler observations, removed in 2018.</p>
    <p>While previous searches with a computer algorithm misidentified it, researchers who reviewed Kepler's data took a second look at the signature and recognized it as a planet.</p>
    <p>Of all the exoplanets found by Kepler, this distant world, located 300 light-years from Earth, is the most similar to Earth in size and temperature currently known.</p>
    <p>This newly revealed world is only 1.06 times larger than our planet. In addition, the amount of starlight it receives from its host star is 75% of the amount of light Earth receives from our Sun, which means that the exoplanet's temperature may also be similar to that of our planet.</p>
    <p>The only problem is that the exoplanet Kepler-1649 c orbits a red dwarf. This type of star is known for starbursts that can make a planet's environment a challenge for any potential life.</p>
    <p>Kepler-1649c orbits its diminutive red dwarf star so close that one year on Kepler-1649c equals only 19.5 Earth days; if humanity moves to this planet one day, we will feel that the years fly by literally.</p>
    <h1>ALIENS</h1>
    <p>In our planet, there is life by constant solar energy, the evolution of species, water, the atmosphere, the magnetic field, among many other things; we are a cluster of different elements on our planet. However, we all agree that one of the essential elements of life is water.</p>
    <p>Water is the essential liquid on our planet and on which we depend 100%; without water, there is no life; it is that simple.</p>
    <p>But this only applies to our understanding of what life is; for us, it is essential that the planet we are looking for, or rather, the exoplanet, must have this vital liquid since we could not exist without water.</p>
    <p>Our vital liquid, which is colorless and tasteless, keeps us alive and allows life to form, but how about that is not the case in the other living things in the universe? We don't know how to define what life is or how we might define whether something is alive or not.</p>
    <p>An example of this is viruses, which eat, live and reproduce, but, surprisingly, are not considered living beings. It's something we can't know yet.</p>
    <p>Would aliens be made of the same thing as us? If they are not within our definition of life, what would we call them?</p>
    <p>Imagine a being or organism the size of the moon that had no limbs, organs, or identifiable form, an amorphous, translucent and almost completely static being; that is, it barely moves.</p>
    <p>Imagine that this being is very close to a planetary nebula and feeds on a cloud of cosmic gas containing hydrogen, oxygen and carbon; this being can reproduce as it feeds on the cloud and in turn, those "offspring" can also feed on that nebula to grow, develop and subsequently reproduce.</p>
    <p>These beings can also die. However, they are nothing like our concept of life. These types of scenarios are the ones that astrobiologists consider, and as you can see, they are not easy to decipher.</p>
    <h1>ARE WE CLOSE TO FINDING LIFE?</h1>
    <p>We have always wondered what life would be like on other planets. Do aliens exist? All these questions have given rise to the creation of Astrobiology, a science whose main objective is to answer one of the essential questions of humanity.</p>
    <p>With the new studies, technology, innovations and contributions of all the scientists in the world, the search for knowledge never stops, and thanks to that, we now know that there are thousands of planets out there like those in our solar system and that it is highly likely that there is life in some of them.</p>
    <p>For the first time in human history, we are making genuinely significant advances in the search for intelligent life, and if we continue like this, we may soon find it.</p>
    <h1>ARE WE ALONE IN THE UNIVERSE?</h1>
    <p>In recent decades it has been discovered that there are hundreds of thousands of worlds out there; the Kepler space telescope gave us a first glimpse of the universe and revealed hundreds of planets that orbit the stars closest to our solar system.</p>
    <p>We even found a planet orbiting the star Proxima Centauri, the closest star to the Sun; these discoveries have opened a whole window of possibilities for us.</p>
    <p>It is currently estimated that there may be millions, if you read that right, millions of planets in our galaxy and that each star has approximately 1.5 planets orbiting around it; this means that there is a high probability that on any of those planets life has developed as on Earth.</p>
    <p>Astrobiology is a new science proliferating; space agencies are the most interested in their researchers knowing and demonstrating the existence of more galaxies and potentially habitable planets.</p>
    <p>That is why increasingly ambitious projects are coming to light, such as creating increasingly powerful telescopes or investing in the search for Earth-like planets.</p>
    <p>In conclusion, astrobiology is a new area of scientific research that opens the door to an infinity of possibilities, which perhaps in the future will give us the answer to that great question that humanity has asked itself for a long time: Are we alone in the universe or not?</p>
</body>
</html>

<br>
<br>
{% endblock %}