{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERNOVA, THE DEATH OF STARS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        h1 {
            text-align: center;
        }
        h2 {
            color: #3366cc;
        }
        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <h1>SUPERNOVA, THE DEATH OF STARS</h1>
    <p>Supernovae are one of the most energetic events in the universe and consist of cataclysmic explosions that occur when a star reaches its final stage of life. In the universe, nothing is eternal, not even the stars; everything dies sooner or later. In the case of stars, they reach their final stage of life when they exhaust all the fuel that makes them shine.</p>

    <h2>NUCLEAR FISSION</h2>
    <img src="https://i.ibb.co/g70kfGC/nuclear.jpg" alt="Nuclear Fusion Image">
    <p>Have you ever wondered why the sun is shining? As children, we think that the sun is a giant fireball and that, therefore, if the sun shines, it is because it is catching fire. Still, no, in reality, the sun is not catching fire; the reason why it shines is due to a physical phenomenon called "Nuclear Fusion". Nuclear fusion consists of a thermonuclear process in which two atoms fuse to become one; for example, two Atoms of Hydrogen H1 can fuse to become one atom of Helium He2. During fusion, part of the matter of the two atoms is converted into energy, and that energy can be perceived as photons, a particle that has no mass, but if it has a lot of energy and also emits light.</p>
    
    <p>Photons are the particles that cause stars like the sun to glow brightly. So now you know, they ask you why the sun is shining the next time? It's not because it's on fire; it's because a thermonuclear process called "Nuclear Fusion" happens inside it.</p>

    <h3>Why is it important to know this process?</h3>
    <p>During their life, the stars merge little by little all the matter from which they are made; a conventional star is made of 99% hydrogen, that is, in a way, hydrogen is the fuel of the stars, and as long as the stars can continue to fuse hydrogen they can continue to shine and therefore it could be said that a star that shines is a star that still has life.</p>

    <h2>DEATH OF THE STARS</h2>
    <p>However, stars can not fuse hydrogen forever since it ends sooner or later; when this happens, the stars begin to die since they begin to run out of the fuel that makes them shine, hydrogen. When a star has fused all the hydrogen it had, it will begin to fuse the Helium that was formed due to the fusion of hydrogen later; when the helium atoms are depleted, it will begin to fuse Carbon, and so on, it will begin to fuse heavier and heavier elements.</p>

    <h3>NOT ALL STARS DIE IN THE SAME WAY</h3>
    <p>Stars can die in many different ways, the way they die depends on their size, and we can classify the death of stars into five types:</p>

    <ul>
        <li><strong>Brown dwarf (EM):</strong> In this process, a star with a mass slightly lower than the sun loses its outer layers, loses the ability to fuse hydrogen inside and becomes a hot body larger than Jupiter, but that does not emit brightness, a brown dwarf.</li>
        <li><strong>Planetary Nebula (NP):</strong> Planetary nebulae are trails of cosmic clouds that form when a star the size of the sun ejects its outer layers once it has exhausted its fuel forming structures with very striking colors.</li>
        <li><strong>Supernova (SN):</strong> In this scenario, a star with a mass at least five times that of the sun has a very violent death in which the balance between nuclear fusion and gravity is lost in an extremely short period. Due to the loss of this balance, the layers of the star begin to collapse on themselves, falling towards its core and heating the star more and more; due to this, the heavier atoms begin to fuse, creating even heavier elements such as iron, nickel, or copper.</li>
        <li><strong>Hypernova (HN):</strong> Hypernovae are even larger explosions than supernovae, but the same principle governs them; they occur when stars at least 1000 times larger than the sun die.</li>
        <li><strong>Gamma-ray burst (BRG):</strong> Gamma-ray flashes are associated with highly energetic bursts in distant galaxies. They are the most luminous electromagnetic events that occur in the universe.</li>
    </ul>

</body>
</html>


<br>
<br>
{% endblock %}