{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asteroids, Comets, Meteors, and Meteorites</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: white;
            
        
        }
        h1 {
            font-size: 36px;
            text-align: center;
        
        }
        h2 {
            font-size: 24px;
            margin-top: 20px;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 15px;
        }
        img {
            max-width: 100%;
            display: block;
            margin: 20px auto;
            width: 250px; /* Set the desired width */
            height: 250px; /* Set the desired height */
        

        }

        .img2 {
            width: 100%; /* Make the image width 100% of the container */
            height: auto; /* Maintain the image's aspect ratio */
            display: block; /* Remove any extra spacing */ 
            margin: 0 auto; /* Center align the image horizontally */  
 
            
               

        }
    </style>
</head>
<body>
    <header>
        <h1>Asteroids, Comets, Meteors, and Meteorites</h1>
    </header>
    <main>
        <h2>Asteroids</h2>
        <img src="https://i.ibb.co/RctDM81/Astroid.png" alt="Asteroid">
        <p><strong>Definition:</strong> Asteroids are rocky objects that orbit the Sun and are primarily found in the asteroid belt, a region between the orbits of Mars and Jupiter. They are remnants from the early solar system's formation.</p>
        <p><strong>Composition:</strong> Asteroids are made up of various materials, primarily rock and metal. Some may also contain volatile compounds like water and organic molecules.</p>
        <p><strong>Size:</strong> Asteroids vary in size from a few meters to hundreds of kilometers in diameter. The largest asteroid in the asteroid belt is Ceres.</p>
        <p><strong>Orbital Characteristics:</strong> Asteroids follow elliptical orbits around the Sun, just like planets, but their orbits can be highly eccentric and tilted.</p>
        <p><strong>Impact Risk:</strong> While most asteroids are relatively small and pose no immediate threat to Earth, some larger ones have the potential to impact our planet. Efforts are made to track and monitor Near-Earth Asteroids (NEAs) to assess any potential impact risks and develop mitigation strategies.</p>
        
        
        <h2>Comets</h2>
        <img src="https://i.ibb.co/vc6RzwC/comet.png" alt="Comet">
        <p><strong>Definition:</strong> Comets are icy objects that also orbit the Sun but have highly elliptical and elongated orbits, taking them far from the Sun and then close to it during their journeys.</p>
        <p><strong>Composition:</strong> Comets consist of a mixture of ices (such as water, carbon dioxide, methane) and dust particles. When they approach the Sun, the heat causes these ices to vaporize and release gas and dust, forming a glowing coma and a tail.</p>
        <p><strong>Size:</strong> Comets can range in size from a few kilometers to tens of kilometers in diameter. The nucleus of a comet is its solid core, which is composed of ices and dust.</p>
        <p><strong>Orbital Characteristics:</strong> Comets have highly eccentric orbits that can take them from the distant reaches of the solar system (the Oort Cloud) to much closer to the Sun. They spend most of their time in the outer solar system.</p>
        <p><strong>Appearance:</strong> When comets approach the Sun, they develop a glowing coma (a bright, diffuse cloud) and a tail. The tail always points away from the Sun due to the solar wind.</p>

        <h2>Halley's Comet</h2>
        <img src="https://i.ibb.co/SKnN1NT/helly2.png" alt="Halley's Comet">
        <p><strong>Halley's Comet:</strong> Halley's Comet is perhaps the most famous comet in history. It is a periodic comet that returns to the inner solar system approximately once every 76 years.</p>
        <p><strong>Discovery:</strong> Halley's Comet was first recorded by Chinese astronomers in 240 BCE. The comet is named after the English astronomer Edmond Halley, who predicted its return and correctly calculated its orbit in 1705.</p>
        <p><strong>Appearance:</strong> When Halley's Comet approaches the Sun, it becomes visible from Earth and appears as a bright, glowing object in the night sky with a characteristic tail. The length of the tail can vary depending on its proximity to the Sun.</p>
        <p><strong>Historical Significance:</strong> Halley's Comet has been observed and documented by many cultures throughout history. Its appearances have often been associated with significant events or omens, making it a subject of fascination and study for centuries.</p>
        <p><strong>Modern Observations:</strong> Halley's Comet was last visible from Earth in 1986 and won't return until 2061. Modern space missions, such as the European Space Agency's Giotto spacecraft, provided close-up observations of the comet during its 1986 passage.</p>
        
        

        <h2>Meteoroids Meteors and Meteorites </h2>

        <div class="image-container">
            <img src="https://i.ibb.co/bzF5QRp/Meteoroid.png" alt="Meteoroid" class="img2">
        </div>


        <h2>Meteoroids</h2>
        <p><strong>Meteoroids:</strong> Meteoroids are small rocky or metallic objects in space, smaller than asteroids, that can vary in size from a grain of sand to a few meters in diameter.</p>
        <p><strong>Origins:</strong> Meteoroids can come from various sources, including asteroid fragments, comets, or even lunar ejecta from the Moon's surface.</p>
        <p><strong>Impact on Earth:</strong> When meteoroids enter Earth's atmosphere and vaporize due to friction with the air, they produce visible streaks of light known as meteors or "shooting stars." Some larger meteoroids can survive the journey and become meteorites if they land on Earth's surface.</p>
        
        
        <h2>Meteors</h2>
        <p><strong>Definition:</strong> Meteors are the streaks of light that we see when small particles, often dust-sized, enter Earth's atmosphere and burn up due to friction with the air. They are often referred to as "shooting stars."</p>
        <p><strong>Formation:</strong> Meteors are formed when meteoroids (small rocks or debris in space) enter the Earth's atmosphere at high speeds. The air resistance causes them to heat up and glow.</p>
        <p><strong>Appearance:</strong> Meteors appear as streaks of light, commonly known as "shooting stars." They can vary in brightness, with some producing exceptionally bright fireballs.</p>
        
        
        <h2>Meteorites</h2>
        <p><strong>Definition:</strong> Meteorites are the remnants of meteoroids that survive their journey through Earth's atmosphere and land on the surface of the Earth.</p>
        <p><strong>Composition:</strong> Meteorites can be composed of various materials, including rock, metal, or a combination of both. They provide valuable insights into the composition of objects in space.</p>
        <p><strong>Types:</strong> There are three main types of meteorites:</p>
        <ul>
            <li><strong>Stony meteorites:</strong> Mostly composed of silicate minerals.</li>
            <li><strong>Iron meteorites:</strong> Composed mostly of iron and nickel.</li>
            <li><strong>Stony-iron meteorites:</strong> Contain a mix of both silicate minerals and metal.</li>
        </ul>
        <p><strong>Study:</strong> Meteorites are studied by scientists to learn about the early solar system's composition and history. They can contain clues about the formation of planets and other celestial bodies.</p>
        
    </main>
</body>
</html>


<br>
<br>


{% endblock %}
